src/EMSSoapInterface/Connected Services/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://ws.apache.org/axis2" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://ws.apache.org/axis2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://ws.apache.org/axis2">
      <xs:element name="GetClinic">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="certificate" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="qtype" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetClinicResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDetail">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="recordtype" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pid" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetDetailResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetList">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="certificate" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetListResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetDetailRequest">
    <wsdl:part name="parameters" element="ns:GetDetail" />
  </wsdl:message>
  <wsdl:message name="GetDetailResponse">
    <wsdl:part name="parameters" element="ns:GetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetListRequest">
    <wsdl:part name="parameters" element="ns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListResponse">
    <wsdl:part name="parameters" element="ns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetClinicRequest">
    <wsdl:part name="parameters" element="ns:GetClinic" />
  </wsdl:message>
  <wsdl:message name="GetClinicResponse">
    <wsdl:part name="parameters" element="ns:GetClinicResponse" />
  </wsdl:message>
  <wsdl:portType name="QueryServicePortType">
    <wsdl:operation name="GetDetail">
      <wsdl:input wsaw:Action="urn:GetDetail" message="ns:GetDetailRequest" />
      <wsdl:output wsaw:Action="urn:GetDetailResponse" message="ns:GetDetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="urn:GetList" message="ns:GetListRequest" />
      <wsdl:output wsaw:Action="urn:GetListResponse" message="ns:GetListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetClinic">
      <wsdl:input wsaw:Action="urn:GetClinic" message="ns:GetClinicRequest" />
      <wsdl:output wsaw:Action="urn:GetClinicResponse" message="ns:GetClinicResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueryServiceSoap11Binding" type="ns:QueryServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetail">
      <soap:operation soapAction="urn:GetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="urn:GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinic">
      <soap:operation soapAction="urn:GetClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueryServiceSoap12Binding" type="ns:QueryServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDetail">
      <soap12:operation soapAction="urn:GetDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="urn:GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinic">
      <soap12:operation soapAction="urn:GetClinic" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueryServiceHttpBinding" type="ns:QueryServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDetail">
      <http:operation location="GetDetail" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <http:operation location="GetList" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinic">
      <http:operation location="GetClinic" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryService">
    <wsdl:port name="QueryServiceHttpSoap11Endpoint" binding="ns:QueryServiceSoap11Binding">
      <soap:address location="http://10.4.3.12:8080/hitb/services/QueryService.QueryServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="QueryServiceHttpSoap12Endpoint" binding="ns:QueryServiceSoap12Binding">
      <soap12:address location="http://10.4.3.12:8080/hitb/services/QueryService.QueryServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="QueryServiceHttpEndpoint" binding="ns:QueryServiceHttpBinding">
      <http:address location="http://10.4.3.12:8080/hitb/services/QueryService.QueryServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>